<div class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#topbar" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">{{ site.name }}</a>
        </div>

        <div class="navbar-collapse collapse" id="topbar">
            <ul class="nav navbar-nav navbar-right">
            <!-- <p class="navbar-text navbar-right"> -->
                <li><a href="https://github.com/simonh1000">Github</a></li>
                <li><a href="http://stackoverflow.com/users/1923190/simon-h">Stack Overflow</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/decoder">Elm Json tester</a></li>
            </ul>
        </div>
    </div>
</div>
