<div class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">{{ site.name }}</a>
        </div>
        <div class="navbar-collapse collapse">
            <p class="navbar-text navbar-right">
                <a href="https://github.com/simonh1000">Github</a>
                <a href="http://stackoverflow.com/users/1923190/simon-h">Stackoverflow</a>
            </p>
        </div>
    </div>
</div>
