<h2>Some of my work</h2>

<div id="portfolio" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#portfolio" data-slide-to="0" class="active"></li>
        <li data-target="#portfolio" data-slide-to="1"></li>
        <li data-target="#portfolio" data-slide-to="2"></li>
        <li data-target="#portfolio" data-slide-to="3"></li>
        <li data-target="#portfolio" data-slide-to="4"></li>
        <li data-target="#portfolio" data-slide-to="5"></li>
        <li data-target="#portfolio" data-slide-to="6"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active" data-href="http://www.amsterdamfoodie.nl">
            <img src="images/af.png" alt="Amsterdam Foodie">
            <div class="carousel-caption">
                Angular, Wordpress, SystemJS, Google Maps, Sass, jQuery
            </div>
        </div>
        <div class="item" data-href="http://simonh1000.github.io/decoder">
            <img src="images/decoder.png" alt="Elm Json decoder interpreter">
            <div class="carousel-caption">
                Elm, mini-interpreter using parser combinators, CSS Flexbox
            </div>
        </div>
        <div class="item" data-href="">
            <img src="images/afbackend.png" alt="Amsterdam Foodie backend">
            <div class="carousel-caption">
                MEAN-stack, Material Design, Twitter Auth, Heroku
            </div>
        </div>
        <div class="item" data-href="https://eu-lobbyists.herokuapp.com/">
            <img src="images/transparency.png" alt="EU Transparency Register">
            <div class="carousel-caption">
                Elm (featuring my elm-charts library), Node, Mongo
            </div>
        </div>
        <div class="item" data-href="http://www.toonoisyfish.be/">
            <img src="images/toonoisy.jpg" alt="Too Noisy Fish">
            <div class="carousel-caption">
                Foundation 6, jQuery SPA, Panini static site, HTML5 Audio
            </div>
        </div>
        <div class="item" data-href="https://tcx-editor.herokuapp.com/">
            <img src="images/tcx.png" alt="TCX editor">
            <div class="carousel-caption">
                Angular, Bootstrap, Node, Mailgun, Compose.io, Xml
            </div>
        </div>
        <div class="item" data-href="https://www.npmjs.com/package/ga-service-acct">
            <img src="images/ga.png" alt="Google analytics">
            <div class="carousel-caption">
                Node, Google APIs, Jasmine, ES6
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#portfolio" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#portfolio" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
